:root {
    --background-dark:#272822;
    --forground-light: #F8F8F2;
    --link-color: #12ccf1;
}

body {
    background-color: var(--background-dark);
    color:var(--forground-light)
}

.text-white-nav {
    color: var(--forground-light) !important;
}

.blur-background-navbar{
    backdrop-filter: blur(2px) contrast(.8); 
    padding-top: 0px;           
}

.display-flex-and-start {
    display: flex;
    justify-content: flex-start;
}

.display-flex-and-center {
    display: flex;
    align-items: center;
}

.navbar-collapse {
    flex-basis:100%;
    flex-grow:1;
    align-items:center;
}

.fas {
    color:white;
}

.nav-link-color {
    color: var(--link-color);
}


#styled-img {
    border-radius: 20px;
    box-shadow: black 0 0 10px;
    max-width: auto;
    max-height: auto;
    object-fit: contain;
}


/* media queries */

/* ultra-wide display limit on text */
@media (max-width: 2000px) {
    .container {
        max-width: 1300px
    } 
}

/* desktop large screen limit on text */
@media (max-width: 1401px) {
    .container {
        max-width: 1025px
    } 
}

/* Small screens, laptops screen limit on text */
@media (max-width: 1111px) {
    .container {
        max-width: 869px;
    } 
}

/* tablet screen limit on text */
@media (max-width: 950px) {
    .container {
        max-width: 581px;
    } 
}

/* mobile device limit on text */
@media (max-width: 700px) {
    .container {
        max-width: 390px;
    } 
}

/* adjust image size to be viewed on laptop screens */
@media (max-width: 950px) {
    .responsive-img-sizing {
        max-width: 80%;
        height: auto;
    } 
}

/* shrink image to be viewed on tablets */
@media (max-width: 700px){
    .responsive-img-sizing  {
        max-width: 75%;
        height: auto;
    }
}

/* enlarging image to be viewed on xs devices */
@media (max-width: 320px){
    .responsive-img-sizing  {
        max-width: 100%;
        height: auto;
    }
}